.navbar-brand{
    letter-spacing:1px;
}

.hero-title{
    font-weight:700;
}


body{
    background:#f8f9fa;
    font-family:Arial, sans-serif;
}
.card{
transition:.3s;
border-radius:15px;
overflow:hidden;
}

.card:hover{

transform:translateY(-8px);

box-shadow:0px 15px 40px rgba(0,0,0,.15);

}

.card img{

height:220px;

object-fit:cover;

}
.hero{
    min-height:650px;

    background:
    linear-gradient(rgba(0,0,0,.55),rgba(0,0,0,.55)),
    url("../images/hero.jpg");

    background-size:cover;
    background-position:center;
}