.navbar-brand{
    letter-spacing:1px;
}

.hero-title{
    font-weight:700;
}


body{
    background:#f8f9fa;
    font-family:Arial, sans-serif;
}
.card{
transition:.3s;
border-radius:15px;
overflow:hidden;
}

.card:hover{

transform:translateY(-8px);

box-shadow:0px 15px 40px rgba(0,0,0,.15);

}

.card img{

height:220px;

object-fit:cover;

}
.hero{
    min-height:650px;

    background:
    linear-gradient(rgba(0,0,0,.55),rgba(0,0,0,.55)),
    url("../images/hero.jpg");

    background-size:cover;
    background-position:center;
}
.category-card{

    background:#fff;

    border-radius:15px;

    padding:30px 15px;

    text-align:center;

    cursor:pointer;

    transition:.3s;

    box-shadow:0 5px 20px rgba(0,0,0,.08);

}

.category-card:hover{

    transform:translateY(-8px);

    box-shadow:0 15px 35px rgba(0,0,0,.15);

}

.category-card .icon{

    font-size:45px;

    margin-bottom:15px;

}

.category-card h5{

    font-weight:600;

}
.city-card{

    border-radius:20px;

    overflow:hidden;

    position:relative;

    cursor:pointer;

    transition:.3s;

    box-shadow:0 5px 20px rgba(0,0,0,.10);

}

.city-card:hover{

    transform:translateY(-8px);

    box-shadow:0 20px 40px rgba(0,0,0,.20);

}

.city-card img{

    width:100%;

    height:220px;

    object-fit:cover;

}

.city-info{

    position:absolute;

    bottom:0;

    width:100%;

    padding:20px;

    background:linear-gradient(transparent,rgba(0,0,0,.85));

    color:#fff;

}

.city-info p{

    margin:0;

}
.feature-box{

    background:#fff;

    padding:35px 25px;

    border-radius:20px;

    text-align:center;

    transition:.3s;

    box-shadow:0 5px 20px rgba(0,0,0,.08);

}

.feature-box:hover{

    transform:translateY(-8px);

    box-shadow:0 20px 40px rgba(0,0,0,.15);

}

.feature-icon{

    font-size:55px;

    margin-bottom:20px;

}

.feature-box h4{

    font-weight:700;

    margin-bottom:15px;

}

.feature-box p{

    color:#666;

    font-size:15px;

}
.footer{

    margin-top:70px;

}

.footer-link{

    color:#ccc;

    text-decoration:none;

    display:block;

    margin-bottom:10px;

    transition:.3s;

}

.footer-link:hover{

    color:#28a745;

    padding-left:8px;

}

.footer h5{

    margin-bottom:20px;

}

.footer p{

    color:#ddd;

}